<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
    <h1><a href="{% url 'groups:single' slug=group.slug %}">{{group.name}}</a></h1><hr>
    <h2>Members: {{group.members.count}}</h2>
    <ul class="card-deck">
        {% for name in group.members.all %}
            <li class="card" style='max-width:150px;'>
                <div class="card-body text-center p-3">
                    <a href="{% url 'profiles:profile_detail_view' slug=name.slug %}">
                        <img class="card-img-top" src="{{name.avatar.url}}">
                    <div class="card-body">
                        <div class='card-title'>
                            <h5>{{name}}</h5>
                        </div>
                    </div></a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}