<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>Welcome back @{{user.username}}!</h2>
    {% endif %}
    <h2>Groups</h2>
    <h3>Welcome to a groups page!</h3>
    {% if user.is_authenticated %}
        <a href="{% url 'groups:create'%}" class="btn btn-md btn-fill btn-primary">
            <i class="fas fa-users">Create new group</i></a>
        <!-- написать функцию, которая бы показывала в какиx группах -->
    {% endif %}
    {% for group in object_list %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'groups:single' slug=group.slug%}">
                <h3 class='card-header'>{{group.name}}</h3>
                <p>{{group.description_html|safe}}</p>
                <p class='card-link'>{{group.members.count}}</p>
                <p class='card-link'>member{{group.members.count|pluralize}}</p>
                <p>{{group.posts.count}}</p>
                <p>post{{group.posts.count|pluralize}}</p>
            </div> 
        </div>            
    {% endfor %}
{% endblock %}