<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
    <h1 class="line_content">{{group.name}}</h1>
    <h4>{{group.description_html|safe}}</h4>

    <button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#list_profiles_in_group">
        Members: {{group.members.count}}
    </button>
    <ul id="list_profiles_in_group" class="collapse list-inline">
        <li><a href="{% url 'groups:members_in_group' slug=group.slug %}">Show more...</a></li>
        {% for name in group.members.all|slice:'5' %}
            <li class="list-inline-item"><img class="mr-3 mt-3 rounded-circle avatar " src="{{name.avatar.url}}">
                <a href="{% url 'profiles:profile_detail_view' slug=name.slug %}">{{name}}</a>
            </li>
        {% endfor %}
    </ul>
    
    <div id='member_join_leave'>
        {% if user in group.get_users %}
            <a href="{% url 'groups:leave' slug=group.slug%}" class="btn btn-lg btn-warning" >
            Leave   <i class="fas fa-user-minus"></i></a>
        {% else %}
            <a href="{% url 'groups:join' slug=group.slug%}" class="btn btn-lg btn-primary"  >
            Join    <i class="fas fa-user-plus"></i></a>
        {%endif%}
    </div>
    {% if group.posts.count == 0 %}
        <div class='card'>
            <div class="card-body">
                <h2>No posts in this group yet!</h2>
            </div>
        </div>
    {% else %}
        {% for post in group.posts.all %}          
            {% include "posts/_post.html" %}
        {% endfor %}
    {% endif %}
{% endblock %}