<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}List of all groups page{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h2 class="header">Welcome back {{user.username}}!</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'groups:create'%}"><button style="font-size:20px;" class="btn btn-primary long_button">
            <i class="fas fa-users">Create new group</i></button></a><br>
    {% endif %}
    {% for group in object_list %}
        <div class='row-cols-lg'>
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'groups:single' slug=group.slug%}" class="text-decoration-none">
                    <h4 class='card-header'>{{group.name}}</h4></a>
                    <p class=''>{{group.description_html|safe}}</p>
                    <div class='card-footer'>
                        <h5 class='card-link'> {{group.members.count}} member{{group.members.count|pluralize}} &nbsp;
                            {{group.posts.count}} post{{group.posts.count|pluralize}}</h5>
                    </div>
                </div> 
            </div>
        </div>            
    {% endfor %}
{% endblock %}