<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
<!--    BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--    CSS FILE-->
    <link rel="stylesheet" href="{% static 'social_blog/css/master.css'%}">
<!--    font awesome icons -->
    <script src="https://kit.fontawesome.com/72170c554d.js" crossorigin="anonymous"></script>
<!--    GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alike+Angular&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container main-container">
    <!-- bootstrap nav -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container ">
              <a class="navbar-brand mr-auto"><i class="fas fa-users"></i><b>&nbsp;Social blog</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <a href="" data-toggle="modal" data-target="#contactMe" class="nav-link">Contact me</a>
                  {% if user.is_authenticated %}
                      
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Posts
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'posts:friends_posts' %}">Your friends posts</a></li>
                            <li><a class="dropdown-item" href="{% url 'posts:all_posts' %}">Browse all posts</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'posts:post_create' %}">Create new post</a></li>
                          </ul>
                        </li>

                        <li class="nav-item d-flex align-items-around ml-lg-3">
                          <a href="{% url 'profiles:my_profile_view'%}" class="nav-link">
                            <img alt="Image" src={{picture.url}} class="avatar" style="width: 30px; height: 30px;">&nbsp; My profile
                          </a>
                        </li>

                        <li class="nav-item"><a href="{% url 'accounts:logout'%}" class="nav-link">Log Out</a></li>

                    {% else %}
                        <span class="navbar-text">
                          Please log in or sign up
                        </span>
                        <li class="nav-item"><a href="{% url 'accounts:login'%}" class="nav-link">Log In</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="nav-link">Sign Up</a></li>
                                          
                    {% endif %}
                </ul>
              </div>
            </div>
        </nav> 
      <!-- /bootstrap nav -->
      <!-- Sidebar -->
          <div class="row py-3">
            <div class="col-sm-2 d-lg-block ">
                <div class="menu sticky-top p-3 side">
                    <div class="d-md-inline-flex flex-column ">
                    
                        {% if user.is_authenticated %}

                            <a href="{% url 'home' %}" class="p-2">Home</a>

                            <a href="{% url 'profiles:all_profiles_list'%}" class="p-2 dropdown-toggle" data-toggle="dropdown">
                              Profiles
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'profiles:my_invites_view'%}">My invites <b>( {{invitations_no}} )</b></a>
                                <a class="dropdown-item" href="{% url 'profiles:all_profiles_list'%}">Browse all profiles</a>
                                <li><a class="dropdown-item" href="{% url 'profiles:invite_profiles_view' %}">Find new friends</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <a class="dropdown-item" href="{% url 'profiles:my_profile_view'%}">My profile</a>
                              </div>
                            </a>
                            
                            <a href="{% url 'groups:all'%}" class="p-2">Groups</a>

                        {% else %}
                            <a href="{% url 'accounts:login'%}" class="p-2">Log in</a>
                            <a href="{% url 'accounts:signup'%}" class="p-2">Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
      <!-- Sidebar end -->
      <!-- Main content -->
            <div class="col-sm-10 content">
                {% block content%}
                {% endblock%}
            </div>
      <!-- Main content end -->
        </div>  
      <div class="footer_text">
          <div class="row">
              <div class="col-sm-12">
                 <div class="footer_text" data-toggle="modal" data-target="#contactMe">
                   If you have any questions, please click 
                   <button type="button" class="btn btn-outline-secondary btn-sm footer_text">Send email</button>  
                   to contact me
                  </div>
              </div>
          </div>
      </div>
      <!-- MODAL -->
        <div class="modal" id="contactMe">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title line_content">Contact me</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form id="contact-form" method="POST" action="{% url 'send_email' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="email">Your Email address:</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email" name="email">
                  </div>
                  <div class="form-group">
                    <label for="name">Your name:</label>
                    <input type="text" class="form-control" placeholder="Leave your name (optional)" id="name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" placeholder="(optional)" id="subject" name="subject">
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" placeholder="Leave your message" id="message" name="message"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    <!-- END MODAL -->
      
  

      </div>
    </div>
