<!DOCTYPE html>
<!--# _POST FILE IN POSTS APP-->
<div class='card mb-3'>
    <div class='card-header' style="padding: 3px;">
        <a href="{% url 'profiles:profile_detail_view' slug=post.author.slug %}">
        <img src="{{post.author.avatar.url}}" 
            style="width:70px;height:70px;margin-top:4px;"
            class="avatar"> 
            {{post.author}}</a><time class="time"> &nbsp;,  {{post.created|timesince}} ago</time>
    </div>
    {% if post.image %}    
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-baseline">
                <img src="{{post.image.url}}" class="img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-text">
                        <p>{{post.content}}</p>
                    </div>
                    <h5 style="display:inline; margin-right:10px;"><i class="fas fa-heart"></i> {{post.num_likes}} like{{post.num_likes|pluralize}} </h5>
                    <h5 style="display:inline"><i class="fas fa-comment-alt"></i>  {{ post.num_comments }} comment{{post.num_comments|pluralize}}</h5>
                
                    <a href="{% url 'posts:single' pk=post.pk %}"><h5 class="line_content" style="margin-top: 7px;">See more setails...</h5></a>
                        
                    
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg">
            <div class="card-body">
                <div class="card-text">
                    <p>{{post.content}}</p>
                </div>
                <h5 style="display:inline; margin-right:10px;"><i class="fas fa-heart"></i> {{post.num_likes}} like{{post.num_likes|pluralize}} </h5>
                <h5 style="display:inline"><i class="fas fa-comment-alt"></i>  {{ post.num_comments }} comment{{post.num_comments|pluralize}}</h5>
                
                <a href="{% url 'posts:single' pk=post.pk %}"><h5 class="line_content" style="margin-top: 7px;">See more setails...</h5></a>
                  
            </div>
        </div>  
    {% endif %}
    
        {% if user.is_authenticated and request.user == post.author.user %}
        <div class="card-footer">
            <a href="{% url 'posts:post_delete' pk=post.pk%}" title="delete">
            <button type="button" class="btn btn-danger" aria-hidden="true" style="margin: 5px;" >DELETE
            <i class="fas fa-times"></i></button></a>
            <a href="{% url 'posts:post_update' pk=post.pk%}"><button style="margin: 5px;"  class="btn btn-primary">UPDATE</button></a>
        </div>    
        {% endif %}
    
</div>