<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class="container">
                        {{message}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="alert alert-danger" role="alert" style="text-align: center;">
            <h3 class="alert-heading">Delete post #{{post.pk}}?</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <h5><i class="fas fa-exclamation-circle"></i>
                    Are you sure you want to delete this post? This process cannot be undone!
                    <i class="fas fa-exclamation-circle"></i></h5>
                <p> See post #{{post.pk}} <a href="{% url 'posts:single' pk=post.pk %}">{{post.content|slice:50}}</p></a>
                <input type="submit" class="btn btn-danger btn-lg" value="Confirm delete">
            </form>
            <a href="{% url 'posts:all_posts' %}"><button class="btn btn-success btn-lg">Cancel</button></a>
        </div>
    {% endif %}

{% endblock content %}