<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Yor friends posts page{% endblock %}
{% block content %}
<h3 class="line_content">Your friends posts:</h3>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-header" style="padding: 3px;">
            <a href="{% url 'profiles:profile_detail_view' slug=post.author.slug %}">
            <img class="avatar" src="{{post.author.avatar.url}}"
            style="width:70px;height:70px;margin-top:4px;" >
            <b>&nbsp;  {{ post.author.user }}</b></a><small><em> &nbsp; {{ post.created|timesince}} ago</em></small>&nbsp;     
        </div>
        {% if post.image %}
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{post.image.url}}" class="img-thumbnail">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-text"> 
                            <p>{{ post.content }} </p>
                        </div>
                        <h5 style="display:inline; margin-right:10px;"><i class="fas fa-heart"></i> {{post.num_likes}} like{{post.num_likes|pluralize}} </h5>
                        <h5 style="display:inline"><i class="fas fa-comment-alt"></i>  {{ post.num_comments }} comment{{post.num_comments|pluralize}}</h5>
                      
                        <a href="{% url 'posts:single' pk=post.pk %}"><h5 class="line_content" style="margin-top: 7px;">See more setails...</h5></a>
                           
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg">
                <div class="card-body">
                    <div class="card-text"> 
                        <p>{{ post.content }} </p>
                    </div>
                    <h5 style="display:inline; margin-right:10px;"><i class="fas fa-heart"></i> {{post.num_likes}} like{{post.num_likes|pluralize}} </h5>
                    <h5 style="display:inline"><i class="fas fa-comment-alt"></i>  {{ post.num_comments }} comment{{post.num_comments|pluralize}}</h5>
                
                    <a href="{% url 'posts:single' pk=post.pk %}"><h5 class="line_content" style="margin-top: 7px;">See more setails...</h5></a>
                        
                    
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock content %}