<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}List of all posts page{% endblock %}
{% block content %}
    {% for obj in qs %}
        <div class="card mb-3" style="cursor: pointer;">
            <a href="{% url 'posts:single' obj.pk %}" style="display:block">
                <div class="card-header" style="padding: 3px;">
                    <a href="{% url 'profiles:profile_detail_view' slug=obj.author.slug %}" href="{% url 'posts:single' obj.pk %}">
                    <img class="avatar" src="{{obj.author.avatar.url}}"
                    style="width:70px;height:70px;margin-top:4px;" >
                    <b>&nbsp;  {{ obj.author.user }}</b></a><small><em> &nbsp; {{ obj.created|timesince}} ago</em></small>&nbsp; 
                    
                    {% ifequal request.user obj.author.user %}
                        <a href="{% url 'posts:post_update' obj.pk %}"><button class="btn btn-primary">Update</button></a>&nbsp; 
                        <a href="{% url 'posts:post_delete' obj.pk %}"><button class="btn btn-primary">Delete</button></a>
                    {% endifequal %}      
                </div>
            </a>
            {% if obj.image %}
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{obj.image.url}}" class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-text"> 
                                <p>{{ obj.content }} </p>
                            </div>
                            <h5 style="display:inline; margin-right:10px;"><i class="fas fa-heart"></i> {{obj.num_likes}} like{{obj.num_likes|pluralize}} </h5>
                            <h5 style="display:inline"><i class="fas fa-comment-alt"></i>  {{ obj.num_comments }} comment{{obj.num_comments|pluralize}}</h5>
                
                            <a href="{% url 'posts:single' obj.pk %}"><h5 class="line_content" style="margin-top: 7px;">See more setails...</h5></a>
                        
                    
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg">
                    <div class="card-body">
                        <div class="card-text"> 
                            <p>{{ obj.content }} </p>
                        </div>
                        <h5 style="display:inline; margin-right:10px;"><i class="fas fa-heart"></i> {{obj.num_likes}} like{{obj.num_likes|pluralize}} </h5>
                        <h5 style="display:inline"><i class="fas fa-comment-alt"></i>  {{ obj.num_comments }} comment{{obj.num_comments|pluralize}}</h5>
                
                        <a href="{% url 'posts:single' obj.pk %}"><h5 class="line_content" style="margin-top: 7px;">See more setails...</h5></a>
                        
                    
                    </div>
                </div>
            {% endif %}  
        </div>
    {% endfor %}
{% endblock content %}