<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Detailed: {{post.content|slice:20}}{% endblock %}
{% block content %}
<div class='card p-3'>
    
    {% if post.image %}
        <img src="{{post.image.url}}" alt="" style="max-width: 600px;" class="card-img rounded mx-auto d-block">
    {% endif %}
    <div class="card-body">
        <h4 class='profile_name'> Posted by:  
        <a href="{% url 'profiles:profile_detail_view' slug=post.author.slug %}">
            {{post.author}}
        </a><small><em> &nbsp; , {{ post.created|timesince}} ago</em></small>&nbsp; </h4> 
        {% if post.group.name %}
          <h5>This post belongs to: 
            <a href="{% url 'groups:single' slug=post.group.slug %}">
            {{post.group.name}}</a></h5> 
        {% endif %}
        
        <p>{{post.content}}</p>
        <div class="post_content">
        {% if request.user == post.author.user %}
            <a href="{% url 'posts:post_update' post.pk %}"><button class="btn btn-warning fluid">Update</button></a>&nbsp; 
            <a href="{% url 'posts:post_delete' post.pk %}"><button class="btn btn-danger fluid">Delete</button></a>
        {% endif %}
        </div>  
        <form action="{% url 'posts:like_post_view' %}" method="POST" id="{{post.id}}" >
            {% csrf_token %}
            <input type="hidden" name="post_id_like" value="{{post.id}}">
            <button type="submit" class="btn btn-primary" >
            {% if user not in post.get_users_liked %}
            <i class="fas fa-heart">&nbsp; Like</i>
            {% else %}
            <i class="fas fa-heart">&nbsp; Unlike</i>
            {% endif %}
            </button>
        </form>
        <button class='btn btn-primary long_button' data-toggle="collapse" data-target="#comments_like">Press to close comments and likes</button>
            <div class="collapse show row" id="comments_like" style="padding: 12px">
                <div class="col-md-3 p-3 comment_like">
                    <div class="card-header detail_post" data-toggle="collapse" data-target="#like">
                        <h6><i class="fas fa-heart"></i> {{post.num_likes}} like{{post.num_likes|pluralize}} </h6>
                    </div>
                    <div>
                        <ul class="list-inline collapse show " id="like">
                            {% for person in post.liked.all %}
                                <li class="list-inline-item">
                                    <a href="{% url 'profiles:profile_detail_view' slug=person.slug%}"><img class="align-self-center avatar" 
                                    style="width:40px;height:40px; margin-top: 15px;" 
                                    src="{{person.avatar.url}}"></a><br>{{person}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div> 
                </div>
                <div class="col-md-9 p-3 comment_like">
                    <div class="card-header detail_post" style='width:auto;' data-toggle="collapse" data-target="#comments">
                        <h5><i class="fas fa-comment-alt"></i>  {{ post.num_comments }} comment{{post.num_comments|pluralize}}</h5>
                    </div>
                    <div>
                        <ul class="collapse show list-unstyled" id="comments" >
                            {% for comment in post.comment_set.all %}
                            <li class="list-item">
                                <div class="media p-3">
                                    <a href="{% url 'profiles:profile_detail_view' slug=comment.user.slug%}"><img class="align-self-center avatar" 
                                    style="width:40px;height:40px; margin-right: 30px;" 
                                    src="{{comment.user.avatar.url}}"></a><br>
                                    <div class="media-body">
                                        <h5>{{ comment.user }}<small><i> &nbsp; {{comment.created_at|date:"M d, Y"}}</i></small></h5>
                                        <p>{{ comment.body }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            <li class="float-end">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{post.id}}"> 
                                    {{ form }}
                                    <button type="submit" name="submit_comment_form" class="btn btn-primary">Send</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
