<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
  {{user}}
    <h2>This is about: {{post.author}}{{post.content}}</h2>
    {% for comment in post.comment_set.all %}
    <div class="comment">
        <p><a href="#">{{ comment.user }}{{comment.body}}</a></p>
    </div>
    {% endfor %}
    <p>{{post.liked.all}}</p>
    <form method="post" action="">
        {% csrf_token %}
        <h3>Add a comment</h3>
        <input type="hidden" name="" value=""> 
        {{ form.as_p}}
        <button type="submit" name="form" class="btn btn-primary">Send</button>
    </form>
{% endblock %}
