<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Update post page{% endblock %}
{% block content %}
    <div class="container">
        <h2 class='line_content'>Update post</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type='submit' class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock content %}

<!-- <p>Content:
    {{form.content}}</p>
    <p>Image:
        {{form.image}}
    </p>
    <p>Group:
        {{form.group}}
    </p> -->